Resources:
  AWSEBAutoScalingLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateId: lt-0be6b9f1db053e6e1
      Version: 1

option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance

  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    
  aws:autoscaling:asg:
    MinSize: '1'
    MaxSize: '1'
    
  aws:autoscaling:launchtemplate:
    LaunchTemplateId: lt-0be6b9f1db053e6e1
    Version: '1'
